@model UserAccountViewModel
@{ 
    ViewBag.Title = Model.UserToShow.Nickname;
}

<h2 style="width: initial">@Model.UserToShow.Nickname</h2>
<span class="card-text">Registered: @Model.UserToShow.RegistrationDate.ToShortDateString()</span>
<div class="text-align-center">
    <img style="width: 50%; height: 50%" src="@Model.UserToShow.AvatarPath"/>
</div>