@model Contribution
@{ 
    ViewBag.Title = "Contribute";
    var campaignIdBuffer = Model.Campaign;
    var contributorIdBuffer = Model.Contributor;
}

    <div class="justify-content-center">
        <h1>Contribute to @Model.Campaign.Name</h1>
        <span>You are going to contribute to @Model.Campaign.Name campaign.</span>
        <span>Please, fill the following forms.</span>

        <div class="col-md-8">
            <form method="post">
                <input asp-for="CampaignId" value="@campaignIdBuffer" type="hidden" />
                <input asp-for="ContributorId" value="@contributorIdBuffer" type="hidden" />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Money"></label>
                    <input asp-for="Money" class="form-control" />
                    <span asp-validation-for="Money" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Commentary"></label>
                    <input asp-for="Commentary" class="form-control" />
                    <span asp-validation-for="Commentary" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-secondary">Donate</button>
            </form>
        </div>
</div>