@{
    ViewData["Title"] = "Campaigns List";
}

<div>
    <h1>All campaigns</h1>
    @{ 
        foreach (var campaign in Model.Campaigns)
        {
            <div>
                <h2>Campaign: @campaign.Name</h2>
                <p>@campaign.FullDescription</p>
            </div>
        }
    }
</div>
