@{
    ViewBag.Title = "Campaigns List";
}

<div>
    <h1>All campaigns</h1>
    @{ 
        foreach (var campaign in Model.Campaigns)
        {
            <div>
                <h2>
                    <a asp-action="campaign" asp-controller="campaigns" asp-route-id="@campaign.Id">
                        @campaign.Name
                    </a>
                </h2>
                <p>@campaign.ShortDescription</p>
            </div>
        }
    }
</div>
