body {
    background-color: darkgray;
}

#mainBlock {
    padding-top: 100px;
    padding-bottom: 30px;
}

.unmarkable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.footer-list-item {
    text-align: center;
}

.text-align-center {
    text-align: center;
}

.height-70 {
    height: 70px;
}

.formatted-text {
    white-space: pre-wrap;
}

#fav-block {
    width: 250px;
}